.user-info-wrapper{
    position: relative;
}

.user-bg-img{
    max-width: 100%;
    max-height: 20vh;
    padding-left: 5%;
    padding-right: 5%;
    background-size:     cover;                      /* <------ */
    background-repeat:   no-repeat;
    background-position: center center;
}

.avatar {
    border-radius: 50%;
    max-width: 140px;
    max-height: 140px;
    position: absolute;
    top: calc(20vh - 70px);
    left: 2.5%;
}

#user-info{
    width: 100%;
    padding-bottom: 1rem;
    padding-top: 80px;
    padding-left: 1rem;
    display: flex;
    flex-direction: column;
}

.coloredTab {
    color: whitesmoke !important;
  }

.coloredTab.nav-link.active{
    color: black !important;
    border-radius: 0;
} 


.tab-content-custom{
    color: whitesmoke;
    padding: 1rem;
}

.follows-link{
    text-decoration:none;
    color:whitesmoke
}
.follows-link:hover{
    color: rgb(39, 118, 223);
    text-decoration: underline;
    text-decoration-color: rgb(39, 118, 223);
    text-underline-offset: .25rem;
}

.site-user{
    text-align: center;
    border-bottom: 1px solid whitesmoke;
}


